# numpy
# pandas
# matplotlib
# yfinance
# scikit-learn
# tensorflow
# keras
# streamlit


folium==0.14.0
gedit==0.0.2
Keras-Preprocessing==1.1.2
matplot==0.1.9
ml-dtypes==0.4.1
namex==0.0.8
optree==0.13.1
pandas-datareader==0.10.0
scikit-learn==1.6.0
streamlit==1.41.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.1
tqdm==4.64.0
yfinance==0.2.51